<section class="formulario-registro-dialog">
  <app-cabecalho-dialogo-formulario
    [titulo]="(editando ? 'COMPARTILHADO.ACOES.EDITAR' : 'CARTOES.ACOES.NOVO') | translate"
    [descricao]="'CARTOES.DESCRICAO' | translate"
    [enviando]="enviando()"
    (fechar)="cancelar()"
  />
  <form [formGroup]="formulario" (ngSubmit)="salvar()" novalidate>
    <div class="formulario-registro-dialog__campos">
      <app-campo-formulario
        [rotulo]="'COMPARTILHADO.CAMPOS.NOME' | translate"
        controleId="cartao-nome"
        [obrigatorio]="true"
        ><mat-form-field subscriptSizing="dynamic"
          ><input id="cartao-nome" matInput formControlName="nome" maxlength="100" />
          @if (campoInvalido('nome')) {
            <mat-error><app-mensagem-validacao [controle]="formulario.controls.nome" /></mat-error>
          }</mat-form-field></app-campo-formulario
      ><app-campo-formulario
        [rotulo]="'CARTOES.CAMPOS.LIMITE' | translate"
        controleId="cartao-limite"
        [obrigatorio]="true"
        ><mat-form-field subscriptSizing="dynamic"
          ><input id="cartao-limite" matInput inputmode="decimal" formControlName="limite" />
          @if (campoInvalido('limite')) {
            <mat-error>{{ 'CARTOES.VALIDACOES.LIMITE' | translate }}</mat-error>
          }
        </mat-form-field></app-campo-formulario
      ><app-campo-formulario
        [rotulo]="'CARTOES.CAMPOS.FECHAMENTO' | translate"
        controleId="cartao-diaFechamento"
        [obrigatorio]="true"
        ><mat-form-field subscriptSizing="dynamic"
          ><input
            id="cartao-diaFechamento"
            matInput
            type="number"
            min="1"
            max="31"
            formControlName="diaFechamento"
          />
          @if (campoInvalido('diaFechamento')) {
            <mat-error>{{ 'CARTOES.VALIDACOES.DIA' | translate }}</mat-error>
          }
        </mat-form-field></app-campo-formulario
      ><app-campo-formulario
        [rotulo]="'CARTOES.CAMPOS.VENCIMENTO' | translate"
        controleId="cartao-diaVencimento"
        [obrigatorio]="true"
        ><mat-form-field subscriptSizing="dynamic"
          ><input
            id="cartao-diaVencimento"
            matInput
            type="number"
            min="1"
            max="31"
            formControlName="diaVencimento"
          />
          @if (campoInvalido('diaVencimento')) {
            <mat-error>{{ 'CARTOES.VALIDACOES.DIA' | translate }}</mat-error>
          }
        </mat-form-field></app-campo-formulario
      >
    </div>
    @if (mensagem(); as texto) {
      <p class="formulario-registro-dialog__erro" role="alert">{{ texto }}</p>
    }
    <footer class="formulario-registro-dialog__acoes">
      <button mat-button type="button" [disabled]="enviando()" (click)="cancelar()">
        {{ 'COMPARTILHADO.ACOES.CANCELAR' | translate }}</button
      ><button mat-flat-button type="submit" [disabled]="enviando()">
        {{ 'COMPARTILHADO.ACOES.SALVAR' | translate }}
      </button>
    </footer>
  </form>
</section>
