:host {
  display: block;
}

.aviso-caps-lock {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin: -0.25rem 0 0;
  color: var(--finisus-attention);
  font-size: 0.875rem;
}

.aviso-caps-lock .mat-icon {
  font-size: 1.125rem;
}
